h2{
    text-align: center;
}
.body
{
    text-align: left;
    margin-left: 370px;
}
.footer h3 {
    text-align: left;
    margin-left: 230px;    
}
.footer1 a b{
    text-align: center;
    font-size: 50px;
    margin-left: 350px;
}
*{
    margin: 0%;
    padding: 0%;
}
.header h2 b{
    color: red;
    font-size: 50px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.EV h3{
    text-align: center;
}
.bgimg{
    background-color: aliceblue;
    opacity: 2.8;
    background-size: cover;
    height: auto;
}